.cardContainer, .cardContainerPayment  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  height: 100%;
  padding: 1rem;
  background: var(--white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  margin-bottom: 15px;
}

.header .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .content .calendar{
  display: flex;
  gap: 1rem;
}

.tablesDetails, .accountsPayable {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  margin-top: 30px;
}

.tablesDetails .table, .accountsPayable {
  background-color: var(--white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
  padding: 1.3rem;
  border-radius: 5px;
}

.table .tableTitle {
  color: var(--text);
}

.accountsPayable .tableHeader {
  display: flex;
  justify-content: space-between;
}

.firstDataBox{
  margin-bottom: 1rem;
}

.cardContainer, .cardContainerPayment  {
  margin-bottom: 30px;
}

@media (min-width: 769px) {
  .cardContainer {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 10px !important;
  }

  .tablesDetails {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px !important;
  }

  .header .content {
    justify-content: flex-end !important;
  }

  .cardContainerPayment {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 10px !important;
  }

  
}

@media (min-width: 1024px) {
 
}