.productList {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
}

.productList .product {
  margin-bottom: 1rem;

  background-color: var(--white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
  padding: 0.9rem;
  border-radius: 5px;

  min-height: 500px;
}

.productList .product img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.productList .product .productInfo {
  padding-top: 15px;
  line-height: 30px;
}

.productList .product .productInfo h4, .product .productInfo strong {
  color: var(--text);
}

.productList .product .productInfo h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--purple);
  font-weight: 500;
}

.productList .product .productInfo strong {
  font-size: 1.2rem;
  font-weight: 400;
}

.productList .product .productBtn {
  padding-top: 15px;
}

.productList .product .productBtn button {
  width: 100%;
}

.productReservation{
  display: grid;
  margin-top: 15px;
}

.productReservation .inputBlock{
  margin-bottom: 15px;
}

.productReservation p {
  color: var(--red);
  margin-bottom: 1px;
}

.warning {
  margin-top: 15px;
}

@media (min-width: 769px) {

  .productList {
    grid-template-columns: 1fr 1fr !important;
    gap: 1rem !important
  }

  .productReservation{
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 5px;
  }

}

@media (min-width: 1240px) {
  .productList {
    grid-template-columns: 1fr 1fr 1fr!important;
  }

  .productList .product img {
    width: 100% !important;
  }

}

@media (min-width: 1440px) {
  .productList {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
}