.companyName strong {
  font-weight: 500;
  font-size: 1.2rem;
}

.listStyle a:hover{
  color: var(--text);
}

.subListItem {
  padding-left: 33px !important;
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.drawer nav, .drawer nav > div {
  margin: 10px
}
.drawer nav a, .drawer nav > div {
  margin-bottom: 5px;
}

.drawer nav > div {
  margin-left: 0;
}

.drawer a, .drawer nav > div{
  border-radius: 20px;
}

.drawer svg {
  color: var(--purple)
}